PORT=3003
NATS_SERVERS=localhost:4222

#https://dashboard.stripe.com/test/apikeys
STRIPE_SECRET=

STRIPE_SUCCESS_URL=http://localhost:3003/payments/success
STRIPE_CANCEL_URL=http://localhost:3003/payments/cancel

#https://dashboard.stripe.com/test/workbench/webhooks/we_1QmqTtBRB0KjGhPDZtToyWfC
# Este es el signing secret de webhook
STRIPE_ENDPOINT_SECRET=